table {
    border-spacing: 0;
}

th {
    background-color: black;
    font-weight: bold;
    color: whitesmoke;
    text-align: left;
    padding: 5px;
}

td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

tbody tr:hover {
    background-color: #ccc;
}