doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        title Movie List 
        link(rel="stylesheet", href="/style.css")
    body 
    h1 Content from base.pug ⬛ 
    img.logo(src="logo2.png" height="50")

    block content 
       
        div kein Inhalt